* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

/*Maintien de la navbar*/
.navbar {
  background-color: rgba(82, 67, 64, 0.6);
  color: #fff;
  height: 85px;
  width: 100%;
  position: sticky;
  z-index: 999;
  font-family: Dehuti, sans-serif;
}

.navbar li {
  display: inline-flex;
  margin: 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar nav {
  transform: translate(1050px, -35px);
}

.logo {
  font-family: 'Bloody', sans-serif;
  font-size: 45px;
  color: #fff;
  transform: translate(40px, 19px);
}

/* Début de la biographie de l'artiste*/
.biography {
  background-color: #2a2a2b;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
}

label {
  background: #444;
  color: #fff;
  transition: transform 400ms ease-out;
  display: inline-block;
  min-height: 100%;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
  text-align: center;
  line-height: 100vh;
  font-family: Dehuti, sans-serif;
}

form {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  white-space: nowrap;
}

input {
  position: absolute;
}

.keys {
  position: relative;
  z-index: 10;
  bottom: 50px;
  left: 0;
  right: 0;
  padding: 1rem;
  text-decoration: solid;
  color: black;
  text-align: center;
  transition: all 300ms linear;
}

input:focus~.keys {
  opacity: 0.8;
}

input:nth-of-type(1):checked~label:nth-of-type(1),
input:nth-of-type(2):checked~label:nth-of-type(2),
input:nth-of-type(3):checked~label:nth-of-type(3),
input:nth-of-type(4):checked~label:nth-of-type(4) {
  z-index: 0;
}

input:nth-of-type(1):checked~label {
  transform: translate3d(0, 0, 0);
}

input:nth-of-type(2):checked~label {
  transform: translate3d(-101%, 0, 0);
}

input:nth-of-type(3):checked~label {
  transform: translate3d(-201%, 0, 0);
}

input:nth-of-type(4):checked~label {
  transform: translate3d(-301%, 0, 0);
}

label {
  background: url("images/image33.jpg");
  background-size: cover;
  font-size: 3rem;
}

label[for="hearts"] {
  background: url("images/1.png");
  background-size: cover;
  color: black;
}

label[for="spades"] {
  background-image: url("images/2.png");
  background-size: contain;
  background-repeat: no-repeat;
  color: black;
}

label[for="diamonds"] {
  background-image: url("images/3.png");
  color: black;
}


label:before,
label:after {
  color: white;
  display: block;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  padding: 1rem;
  font-size: 3rem;
  height: 10rem;
  vertical-align: middle;
  line-height: 10rem;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  cursor: pointer;
}

label:before {
  content: "\276D";
  right: 100%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

label:after {
  content: "\276C";
  left: 100%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}



/* Fin de la biographie de l'artiste*/

/* Début de la description de la carrière de l'artiste*/
.carriere {
  background-color: #2a2a2b;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
}

.carriere h1 {
  transform: translate(660px, 0px);
  font-size: 40px;
  font-family: Bloody;
  color: white;
}

div.container {
  display: flex;
  align-items: center;
  justify-content: center;

  transform: translate(155px, -412px)
}

.item {
  width: 175px;
  height: 200px;
  background-color: #2a2a2b;

  animation-name: scale-up-center;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;

  
}

.text {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text h2 {
  text-decoration: underline;
}

@keyframes scale-up-center {

  0% {
    transform: scale(.2);
  }

  100% {
    transform: scale(1);
  }
}

.carrierre {
  position: relative;
  width: 60vw;
  height: 40vw;
  max-width: 380px;
  max-height: 250px;
  margin: 0;
  color: rgb(251, 241, 241);
  perspective: 1000px;
  transform-origin: center;
  transform: translate(530px, 150px);
}

.carriere__content {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: translateZ(-30vw) rotateY(0);
  -webkit-animation: carousel 15s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
  animation: carousel 15s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.carriere__content.step-animation {
  -webkit-animation: carousel 15s infinite steps(1) forwards;
  animation: carousel 15s infinite steps(1) forwards;
}

.carriere__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 60vw;
  height: 40vw;
  max-width: 380px;
  max-height: 250px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  transform-origin: center;
}

.carriere__item:nth-child(1) {
  transform: rotateY(0) translateZ(35vw);
}

.carriere__item:nth-child(2) {
  transform: rotateY(120deg) translateZ(35vw);
}

.carriere__item:nth-child(3) {
  transform: rotateY(240deg) translateZ(35vw);
}

@-webkit-keyframes carousel {

  0%,
  17.5% {
    transform: translateZ(-35vw) rotateY(0);
  }

  27.5%,
  45% {
    transform: translateZ(-35vw) rotateY(-120deg);
  }

  55%,
  72.5% {
    transform: translateZ(-35vw) rotateY(-240deg);
  }

  82.5%,
  100% {
    transform: translateZ(-35vw) rotateY(-360deg);
  }
}

@keyframes carousel {

  0%,
  17.5% {
    transform: translateZ(-35vw) rotateY(0);
  }

  27.5%,
  45% {
    transform: translateZ(-35vw) rotateY(-120deg);
  }

  55%,
  72.5% {
    transform: translateZ(-35vw) rotateY(-240deg);
  }

  82.5%,
  100% {
    transform: translateZ(-35vw) rotateY(-360deg);
  }
}


@-webkit-keyframes jelly {
  from {
    transform: scale(1, 1);
  }

  30% {
    transform: scale(1.25, 0.75);
  }

  40% {
    transform: scale(0.75, 1.25);
  }

  50% {
    transform: scale(1.15, 0.85);
  }

  65% {
    transform: scale(0.95, 1.05);
  }

  75% {
    transform: scale(1.05, 0.95);
  }

  to {
    transform: scale(1, 1);
  }
}

@keyframes jelly {
  from {
    transform: scale(1, 1);
  }

  30% {
    transform: scale(1.25, 0.75);
  }

  40% {
    transform: scale(0.75, 1.25);
  }

  50% {
    transform: scale(1.15, 0.85);
  }

  65% {
    transform: scale(0.95, 1.05);
  }

  75% {
    transform: scale(1.05, 0.95);
  }

  to {
    transform: scale(1, 1);
  }
}

/*Fin  de la description de la carrière de l'artiste*/

/*Début du Booking schedule de l'artiste (Je sais pas comment dire en français)*/
.agenda {
  background-color: #2a2a2b;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.agenda h1 {
  font-family: Dehuti, sans-serif;
  color: #fff;
  transform: translate(650px, 30px);
  font-size: 30px;
  display: flex;
  height: 50px;
}

.pays {
  height: 70px;
  width: 500px;
  border: #fff solid 2px;
}

.pays h2 {
  font-family: cooldex, sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.europe{
  height: 700px;
}

.plusgauche {
  height: 50px;
  width: 50px;
  border: #fff solid 4px;
  border-radius: 50px;
  color: #fff;
  font-family: Dehuti, sans-serif;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(475px, -65px);
}

.plusgauche li {
  list-style-type: none;
  color: #2a2a2b;
  font-size: 40px;
  text-decoration: none;
}

.plusgauche nav ul {

  padding: 0;
  margin: 0;
}

.plusgauche nav ul li {
  list-style-type: none;
  line-height: 44px;
  float: left;

}

.plusgauche nav ul li a {
  color: #FFF;
  font-size: 70px;
  text-decoration: none;
}

.plusgauche li a:hover {
  border-bottom: 3px #522727 solid;
}

.plusgauche nav ul li ul {
  display: none;
  
}

.plusgauche nav ul li:hover ul {
  z-index: 99999;
  display: list-item;
  position: absolute;
  margin-top: 5px;
  margin-left: -10px;
  background-color: #fff;
  color: #2a2a2b;
  list-style-type: none;
}

.plusgauche nav ul li:hover ul li {
  float: none;
}

.afrique{
  height: 700px;
}

.plusdroite {
  height: 50px;
  width: 50px;
  border: #fff solid 4px;
  border-radius: 50px;
  color: #fff;
  font-family: Dehuti, sans-serif;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-30px, 65px);
}

.plusdroite li {
  list-style-type: none;
  color: #2a2a2b;
  /* padding: 10px; */
  font-size: 40px;
  text-decoration: none;
}

.plusdroite nav ul {

  padding: 0;
  margin: 0;
}

.plusdroite nav ul li {
  list-style-type: none;
  line-height: 44px;
  float: left;

}

.plusdroite nav ul li a {
  color: #FFF;
  font-size: 70px;
  text-decoration: none;
}

.plusdroite li a:hover {
  border-bottom: 3px #FFF solid;
}

.plusdroite nav ul li ul {
  display: none;
}

.plusdroite nav ul li:hover ul {
  z-index: 99999;
  display: list-item ;
  position: absolute;
  margin-top: 5px;
  margin-left: -10px;
  background-color: #fff;
  color: #2a2a2b;
  list-style-type: none;
}

.plusdroite nav ul li:hover ul li {
  float: none;
}


.ligne {
  display: flex;
  justify-content: space-between;
  transform: rotateZ(90deg);
}

.trait {
  height: 3px;
  width: 15px;
  background-color: #fff;
  border-radius: 6px;
}



/*Début du Booking schedule de l'artiste*/

/*Début du footer de la page Artiste*/

.footer {
  background-color: #2a2a2b;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.socials {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateX(-90px);
}

.social {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.copyright {
  transform: translateX(50px);
}

/*Fin du footer de la page Artiste*/


/* Le responsive*/